
.loginfo
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 1px solid grey;
    height: 80%;
    border-radius: 40px;
    margin: 10%;
    padding: 20px;
}

.inpt{
    width:40%;
    height:40px;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}

.lognbtn
{
    width: 10%;
    height: 40px;
    border-radius: 5px;
}